body {
  background-image: url("../media/olive.png");
}

#page-wrapper {
  width: 960px;
  margin: 0 auto;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 1);
  border-radius: 12px 12px 0px 0px;
}

#header{
  position: center;
  margin-top: 10px;
  border-radius: 12px 12px 0px 0px; 
}

#header h1 {
  position:relative;
  margin-left: 30px;
  font-size: 2em;
  font-family: "Barriecito", system-ui;
  font-weight: 400;
  font-style: normal;  
  color: white;	
}

#header #toplink {
  text-decoration: none;
  position: absolute;
  top:-34px;
  right: 10px;
  color: white;
  font-size: 1.8em;	
}
	
#content-wrapper {
  background-color: #dbe0d3;
  width: 100%;
}

#main-wrapper {
  min-height: 350px;
  width: 100%;
  margin-right: 30px;
  float: left;
  margin-left: 15px;  
  background-color: #dbe0d3;
}

#header h2, h3 {
  color: black;
  margin-left: 30px;
}

#main-nav {
  float: left;
  width: 100%;
  background-color: #836953;	
}

#main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  left:50%;	
}

#main-nav ul li {
  float: left;
  position: relative;
  right: 50%; 	
}

#main-nav ul li a {
  padding: 10px 25px;
  display: block;
  text-decoration: none;
  color: #ccc;	
}

#main-nav ul li a:hover {
  background-color: #ccc;
  color: #8000ff;		
}

#center {
  width: 90%;
  text-align: center;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

p {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom:20 px;
}

a {
  margin-left: 40px;
}

#pfont { 
  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 32;
}

.image1, .image2, .image3 {
  display: block;
  margin: 150px;
  width: 650px;
  height: auto;
  margin-bottom: 20px;
}

#header h2, h3 {
  color: black;
  margin-left: 20px;
}
